# Starter pipeline
# Start with a minimal pipeline that you can customize to build and deploy your code.
# Add steps that build, run tests, deploy, and more:
# https://aka.ms/yaml

trigger:
- master

pool:
  vmImage: 'ubuntu-latest'

steps:
- task: NodeTool@0 
  inputs:
    versionSpec: '12.x'

- script: npm install
- script: npm i -g eslint
- script: |
    cd ./src
    eslint --no-eslintrc sxw.js
    if [ $? -ne 0 ]; then
      exit 1
    fi
